<main class="min-h-screen flex items-center justify-center p-4">
  @if (step() === 'name') {
    <!-- Paso 1: Capturar nombre -->
    <form [formGroup]="nameForm" (ngSubmit)="startQuiz()" class="bg-white shadow-md p-6 rounded-xl max-w-md w-full space-y-4">
      <h2 class="text-xl font-bold text-gray-600 text-center">Ingresa tu nombre para comenzar</h2>
      <input
        formControlName="name"
        placeholder="Ingresa tu nombre"
        class="w-full text-center border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-400 text-gray-500"
      />
      <button
        type="submit"
        [disabled]="nameForm.invalid"
        class="text-center w-full py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 disabled:opacity-50">
        Comenzar
      </button>
    </form>
  } @else if (step() === 'quiz') {

     @if (currentQuestion(); as q) {
    <!-- contenido con q -->
         <!-- Paso 2: Preguntas -->
    <div class="bg-white shadow-md p-6 rounded-xl max-w-2xl w-full space-y-4">
      <h2 class="text-xl font-semibold text-gray-500 text-center">{{ q.question }}</h2>

      @if (q.image) {
        <img [src]="'/images/' + q.image" alt="imagen" class="rounded-xl max-h-64 w-full object-cover" />
      }

      <ul class="space-y-2">
        @for (resp of q.responses; track resp) {
          <li (click)="selectAnswer(resp)"
            class="border border-gray-200 bg-gray-200 p-3 rounded-md hover:bg-gray-300 cursor-pointer transition text-gray-500">
            {{ resp.response }}
          </li>
        }
      </ul>

      <div class="text-sm text-gray-500 text-right">
        Pregunta {{ currentIndex() + 1 }} de {{ questions().length }}
      </div>
    </div>
    }

  } @else {
    <!-- Paso 3: Resultado -->
    <div class="bg-white shadow-md p-6 rounded-xl max-w-xl w-full space-y-4 text-center">
      <h2 class="text-2xl font-bold text-green-600">¡Resultados, {{ playerName() }}!</h2>
      
      <div class="bg-gray-100 border-gray-400 p-2 rounded-lg">
        @if (score() >= 0 && score() < 40) {
          <p class="text-yellow-700">
            Tu nivel de conciencia ética es bajo. Es recomendable reforzar tus conocimientos sobre buenas prácticas y responsabilidad profesional.
          </p>
        }
        @if (score() >= 40 && score() < 60) {
          <p class="text-orange-700">
            Tienes un nivel ético intermedio. Aún hay áreas de mejora para tomar decisiones más alineadas con los principios éticos.
          </p>
        }
        @if (score() >= 60 && score() <= 100) {
          <p class="text-green-700">
            ¡Excelente! Demuestras un alto nivel de ética profesional y compromiso con buenas prácticas.
          </p>
        }
      </div>
      <p class="text-gray-700">Tu puntaje: <strong>{{ score() }}/100</strong></p>

      <!-- <div class="mt-4 text-left space-y-2"> -->
      <div class="mt-4 text-left space-y-2 max-h-[60vh] overflow-y-auto pr-2">
        @for (a of answers(); track a) {
          <div class="p-3 rounded-md border border-gray-200 bg-gray-100 text-gray-500">
            <p class="text-sm font-medium">{{ a.question }}</p>
            <p
              class="text-sm"
              [ngClass]="a.correct ? 'text-green-600' : 'text-red-600'"
            >
              {{ a.selected }} → {{ a.correct ? 'Correcto' : 'Incorrecto' }}
            </p>
          </div>
        }
      </div>

      <button
        (click)="reset()"
        class="mt-6 px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700"
      >
        Volver a empezar
      </button>
    </div>
  }
</main>     